@media screen and (max-width: 768px) {
  .navbar {
    line-height: normal !important;
  }

  .menu-icon {
    display: flex;
    z-index: 100;
    align-items: center;
    color: #e8e8e8;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: var(--sm-size);
    left: 0;
    width: 100%;
    background-color: #232323;
    display: none;
    animation: slideInOut 0.5s ease;
  }

  .menu.open {
    display: flex;
    height: var(--sm-size);
    justify-content: center;
  }

  .menu.closed {
    display: none;
    animation: slideOut 0.5s ease;
  }

  .menu li {
    text-align: center;
  }

  .user {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -1.2rem;
    position: absolute;
    text-align: center;
  }

  .user-text-login {
    display: flex;
    font-size: small;
  }

  .break {
    display: none;
    margin-left: -4px;
  }

  @keyframes slideInOut {
    from {
      transform: translateY(-100%);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-100%);
    }
  }
}


@media (max-width: 575px) {
  .sub-line span {
    display: none;
  }

  .search-results {
    width: 200px;
  }

  .search-input {
    width: 200px;
  }

}

@media screen and (max-width: 320px) {
  .nav-text {
    display: none;
  }

  .menu li {
    flex: 1;
  }

}

@media (max-width: 295px) {
  .back-to-top {
    bottom: 74px;
  }
}

.emoji-button {
  margin: 5px;
}

